@font-face {
    font-family: IBMmono;
    src: url(../assets/fonts/IBMPlexMono-Regular.woff2)
}

@font-face {
    font-family: mono-bold;
    src: url(../assets/fonts/IBMPlexMono-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: mono-semibold;
    src: url(../assets/fonts/IBMPlexMono-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: mono-thin;
    src: url(../assets/fonts/IBMPlexMono-Light.woff2);
    font-weight: 100;
}

:root {
    --clr-dark: #000000;
    --clr-white: #FFFFFF;
    --clr-gray: #9E9E9E;

    --fs-regular: IBMmono;
    --fs-bold: mono-bold;
    --fs-thin: mono-thin;
    --fs-semibold: mono-semibold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--clr-white);
    background: var(--clr-gray);
}

img {
    width: 100%;
}

button {
    font-family: var(--fs-bold);
    border: none;
    outline: none;
    background: transparent;
}

html{
    color-scheme: dark;
}

body {
    background: var(--clr-dark);
    color: var(--clr-white);
    width: 100%;
    height: 1005;
}

.container {
    width: 95vw;
    /* height: 100vh; */
    margin: 1rem auto;
}

/* Hamburger styles */
.hamburger {
    background: transparent;
    border: none;
    z-index: 10;
    position: fixed;
}

.hamburger_svg {
    fill: var(--clr-white);
}

.line {
    transition: 
        y 0.3s ease 0.3s, 
        rotate 0.3s ease, 
        opacity 0s 0.3s;
    transform-origin: center;
}

.hamburger[aria-expanded="true"] .line {
    transition: 
        y 0.3s ease, 
        rotate 0.3s ease 0.3s, 
        opacity 0s 0.3s;
}

.hamburger[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
}

.hamburger[aria-expanded="true"] .top {
    rotate: 45deg;
}

.hamburger[aria-expanded="true"] .middle {
    opacity: 0;
}

.hamburger[aria-expanded="true"] .bottom {
    rotate: -45deg;
}

/* navbar styles */
.navlinks {
    list-style: none;

    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: var(--clr-dark);
    
    position: fixed;
    top: -100%;
    left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    transition: all 0.5s ease-in-out;
}

.navlinks a {
    text-decoration: none;
    color: var(--clr-white);
    transition: all 0.3s ease;
}

.navlinks li {
    font-size: 2rem;
    font-family: IBMmono, monospace;
}

.navlinks a:hover{
    color: var(--clr-gray);
}

section {
    height: 100vh;
    width: 80vw;
    margin: 1rem auto;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__left {
    flex: 1;
}

.home__left h3 {
    font-family: var(--fs-thin);
    color: var(--clr-gray);
}

.home__left h2 {
    margin-block: 2.5rem;
    font-family: var(--fs-regular);
    font-size: 2.125rem;
}

.home__right {
    flex: 1;
}

.btn__outline {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: 1px solid var(--clr-white);
    font-weight: var(--fs-thin);
    cursor: pointer;
    text-transform: uppercase;
}

#loom-companion-mv3 {
    display: none;
}

/* Media Queries */

@media (max-width: 768px) {

    .home {
        flex-direction: column;
        padding-top: 5rem;
        text-align: center;
        justify-content: space-around;
    }

    .home__left h3 {
        font-size: 0.75rem;
    }

    .home__left h2 {
        font-size: 1rem;
        margin-block: 1.5rem;
    }
}